doctype html
html
	head
		title ZiRa!
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header(class='jumbotron')
			h1= title
			p Welcome to the new Revenue system for Bharat
			br
			br
			block content
