extends userhomebase

block content2
	p The complaint details.
	table(style="width:100%",border=1)
		each key in keys
			tr
				th(style="padding:10px")=key
				td(style="padding:10px")=complaint[key]
	hr
	p You want to delete the complaint?
	a(href=deletelink): button(type="button" class="button") Delete this complaint
	hr
