extends base

block content
	p Please submit the details. and you are the executive

	form(action='/executive', method='POST')
		p
			| Name:
			input(type='text', name = 'name', placeholder = 'enter your name' required)
			br
			| Username:
			input(type='text', name = 'username', placeholder = 'enter your username' required)
			br
			| Date_of_birth:
			input(type='date', name = 'date_of_birth', placeholder = 'enter your dateofbirth' required)
			br
			| Designation:
			input(type='text', name = 'designation', placeholder = 'enter your designation' required)
			br
			| Password:
			input(type='password', name = 'password', placeholder = 'enter you password' required)
			br
			| Re-password:
			input(type='password', name = 'repassword', placeholder = 'enter you password again' required)
			br
			input(type = 'submit',class="button", value = 'Submit')
