extends base

block content
	h3 The Revenue complaints and verification has been centralized.
	h3
		a(href='/userLogin') click here for User Login
	h3
		a(href='/executive') click here for Executive Registration
	h3
		a(href='/register') click here to Register
