extends base

block content
	imageback(class="content_background")
		h3
			a(class="button" href='/userLogin') Login
		h3
			a(class="button" href='/register') Register
		h3
			a(class="button" href='/admin/login' id='admin-button') Admin Login
