extends base

block content
	imageback(class="content_background")
		p The Revenue complaints and verification has been centralized.
		
		h3
			a(class="button" href='/userLogin') Login as an Employee
		h3
			a(class="button" href='/executive') Exective Registration
		h3
			a(class="button" href='/register') Customer Registration
