extends userhomebase

block content2
	br
	h1 Heyy there! here we are here for adding the complaint
	form(action='/user/newcomplaint', method='POST')
		p
			| Complaint subject:
			br
			input(type='text', name = 'subject', placeholder = 'Enter the subject' required)
			br
			br
			| Complaint body:
			br
			textarea(name='body',cols='40',rows="5")
			br
			br
			| Additional details:
			br
			textarea(name='extra',cols='40',rows="5")
			br
			br
			input(type = 'submit', value = 'Submit', class="button")
