extends userhomebase

block content2
	br
	form(action='/user/newcomplaint', method='POST')
		p
			| Subject
			br
			input(type='text', name = 'subject', placeholder = 'Enter Subject' required)
			br
			br
			| Message
			br
			textarea(name='body',cols='40',rows="5")
			br
			br
			| Notes
			br
			textarea(name='extra',cols='40',rows="5")
			br
			br
			input(type = 'submit', value = 'Submit', class="button")
