extends base

block content
	p Please submit the details which will be verified by your village beurocrats

	form(action='/register', method='POST')
		p
			| Name:
			input(type='text', name = 'name', placeholder = 'enter your name' required)
			br
			| Email:
			input(type='text', name = 'email', placeholder = 'enter your email id' required)
			br
			| Mobile:
			input(type='text', name = 'mobile', placeholder = 'enter your mobile' required)
			br
			| Password:
			input(type='password', name = 'password', placeholder = 'enter you password' required)
			br
			| Repassword:
			input(type='password', name = 'repassword', placeholder = 'enter you password again' required)
			br
			input(type = 'submit',class="button", value = 'Submit')
