extends base

block content
	h2 
		a(href='/userLogout') click here to Logout quickly

	h3 Hi #{emailid} welcome to your complaints page

	h3 
		a(href='/user/newcomplaint') want to launch a new complaint

	block content2

