extends base

block content
	p Hi #{emailid} Welcome to your complaints page

	h3
		a(class="button", href='/user/newcomplaint') Launch a new complaint

	h2
		a(class="button" href='/userLogout') Logout

	block content2
