extends userhomebase

block content2
	br
	div(class="dropdown")
		button(class="dropbtn") Complaints
		div(class="dropdown-content")
			each complaint,index in complaints_list
				a(href=hyperlinks_list[index]) #{complaint.subject}
