extends base

block content
	p Please enter the proper details for user.
	<br>

		form(action='/userLogin', method='POST')
			p
				| Email:
				input(type='text',name = 'email', placeholder = 'Enter your email id' required)
				br
				| Password:
				input(type='password',name = 'password', placeholder = 'Enter you password' required)
				br
				input(type = 'submit' ,class="button", value = 'Submit')
